* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    background-color: rgba(201, 196, 196, 0.336);
    width: 500px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.card .cont-img,
.card .cont-content {
    width: 50%;
}

.card .cont-img img {
    width: 250px;
    height: 100%;
}

.card .cont-content {
    padding: 20px;
}

.category {
    margin-bottom: 10px;
    letter-spacing: 4px;
    color: gray;
    text-transform: uppercase;
}

h2 {
    text-transform: capitalize;
    color: rgb(31, 30, 30);
    font-size: 35px;
    line-height: 0.8;
    margin-bottom: 10px;
}

.description {
    color: gray;
    font-size: 14x;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: rgb(13, 112, 82);
    margin-bottom: 20px;

}

.price p:last-child {
    color: gray;
    font-size: 15px;
    text-decoration: line-through;
}

button {
    width: 100%;
    border: none;
    border-radius: 5PX;
    color: white;
    padding: 8px;
    background-color: rgb(13, 112, 82);
}

@media (max-width:480px) {
    .card {
        flex-direction: column;
        width: 300px;
    }

    .card .cont-img,
    .card .cont-content {
        width: 100%;
        height: 100%;
    }

    .card .cont-img img {
        width: 100%;
    }

    .card .cont-content {
        padding: 20px;

    }

    button {
        width: 90%;
        margin: auto;
    }

}