body {
    background-color: beige;
   background-image: url(https://img.freepik.com/free-vector/hand-drawn-abstract-outline-background_23-2150717257.jpg?semt=ais_incoming&w=740&q=80);

   font-family: "Poppins", 'Gill Sans';
   font-weight: 400;
   font-style: normal;
}

h2{ 
    color: red;
    text-align: center;
    font-style: italic;

}

.sub-diff{
    color: rgb(37, 20, 20);
}