*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    text-align: center;
    padding: 30px   ;
}
.contenedor
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;

    
}   
.animación
{
    width: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;

}
.bounce{
    animation: bounce 1s infinite alternate ease;
}
@keyframes bounce{
    0%{transform: translateY(0);}
    100%{transform: translateY(-50px);}
}
.fade{
    animation: fade 1s infinite alternate ease;
}
@keyframes fade{
    0%{opacity: 1;}
    100%{opacity: 0;}
}   
.color{
    animation: color 1s infinite alternate ease;
}
@keyframes color{
    0%{background-color: blue;}
    100%{background-color: red;}
}       
.rotate{
    animation: rotate 1s infinite linear;
}
@keyframes rotate{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}   
.pulse{
    animation: pulse 1s infinite alternate ease;
}
@keyframes pulse{
    0%{transform: scale(1);}
    100%{transform: scale(1.6);}
}

.shake{
    animation: shake 0.5s infinite alternate ease;
}
@keyframes shake{
    0%{transform: translateX(0);}
    100%{transform: translateX(20px);}
}